<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="yes" name="apple-touch-fullscreen" />
	<meta content="telephone=no,email=no" name="format-detection" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>研究生求生指南</title>
</head>

<body>
	<svg style="display: none;">
		<symbol id="user">
			<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="课程详情" transform="translate(-311.000000, -35.000000)">
					<g id="app-bar-bg-copy" transform="translate(0.000000, 24.000000)">
						<g id="Oval-16-+-Oval-13-Copy-+-Oval-15" transform="translate(312.000000, 12.000000)">
							<path d="M25.6880254,28.5167372 C24.5820819,22.4699513 20.6639027,18 16,18 C11.304048,18 7.36410369,22.5315953 6.2895743,28.641616"
							 id="Oval-16" stroke="#666666"></path>
							<g id="Oval-13-Copy-+-Oval-15">
								<circle id="Oval-13-Copy" stroke="#CDCDCD" cx="16" cy="16" r="16"></circle>
								<circle id="Oval-15" stroke="#666666" cx="16" cy="13" r="5"></circle>
							</g>
						</g>
					</g>
				</g>
			</g>
		</symbol>
		<symbol viewBox="0 0 1024 1024" id="username">
			<path fill="#333333" d="M945.344 1022.912 78.72 1022.912c0 0-108.288-439.04 433.28-439.04C1053.632 583.872 945.344 1022.912 945.344 1022.912L945.344 1022.912zM515.776 537.472c-216.64 0-216.64-322.56-216.64-322.56S299.136 0 515.776 0s216.64 214.912 216.64 214.912S732.352 537.472 515.776 537.472L515.776 537.472z"
			/>
		</symbol>
		<symbol viewBox="0 0 1024 1024" id="password">
			<path fill="#333333" d="M786.473747 499.700883l-30.56411 0L626.682437 499.700883l-54.160527 0L396.104945 499.700883c-4.507664-7.649214-6.968715-15.877619-6.968715-24.451902L389.13623 304.087717c0-40.498366 54.727439-73.354682 122.257461-73.354682 67.526953 0 122.258485 32.856315 122.258485 73.354682l0 48.903803c0 26.981515 27.362184 48.90278 61.128219 48.90278 33.765011 0 61.128219-21.921265 61.128219-48.90278l0-48.903803c0-94.511537-109.506043-171.160241-244.514923-171.160241-135.055952 0-244.514923 76.648704-244.514923 171.160241l0 195.612143-30.565133 0c-50.67003 0-91.692329 32.856315-91.692329 73.354682l0 268.966824c0 40.498366 41.022299 73.354682 91.692329 73.354682l550.159088 0c50.67003 0 91.693352-32.855292 91.693352-73.354682L878.166075 573.054541C878.167099 532.557198 837.142753 499.700883 786.473747 499.700883zM572.52191 755.579621l0 37.538965c0 26.980491-27.363208 48.90278-61.128219 48.90278-33.763988 0-61.129242-21.922289-61.129242-48.90278l0-37.538965c-36.543288-16.912182-61.128219-48.51904-61.128219-84.718497 0-54.014194 54.727439-97.806583 122.257461-97.806583 67.526953 0 122.258485 43.792389 122.258485 97.806583C633.652176 707.059558 609.066221 738.667439 572.52191 755.579621z"
			/>
		</symbol>
		<symbol viewBox="0 0 1024 1024" id="captcha">
			<path fill="#333333" d="M863.488 183.232c-8.384 0.32-16.64 0.384-24.704 0.384-211.584 0-304.896-91.648-305.6-92.48l-21.12-21.824-21.248 21.76c-0.832 1.024-92.224 92.544-305.6 92.544-8.064 0-16.256-0.064-24.704-0.384l-29.696-0.96v415.616c0 108.864 38.464 267.648 370.752 389.12L512 990.72l10.368-3.776c332.352-121.472 370.752-280.256 370.752-389.12V182.272l-29.632 0.96z m-384.128 522.24L287.872 534.848l50.816-41.408 101.824 75.52s140.544-146.24 276.352-214.592l19.392 21.952S566.592 517.76 479.36 705.472z"
			/>
		</symbol>
		<symbol id="female" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
			<g class="base">
				<g fill="none" fill-rule="evenodd" stroke="none" class="main-fill">
					<path fill="none" d="M15.8,19.8 L12.2,19.8 L12.2,18.1 C16.3,17 19.2,13.3 19.2,9.2 C19.2,4.1 15.1,0 10,0 C4.9,0 0.8,4.1 0.8,9.2 C0.8,13.4 3.8,17.1 7.9,18.2 L7.9,19.9 L4.3,19.9 C3.9,19.9 3.6,20.2 3.6,20.6 L3.6,23.5 C3.6,23.9 3.9,24.2 4.3,24.2 L7.9,24.2 L7.9,29.3 C7.9,29.7 8.2,30 8.6,30 L11.5,30 C11.9,30 12.2,29.7 12.2,29.3 L12.2,24.2 L15.1,24.2 L15.8,24.2 C16.2,24.2 16.5,23.9 16.5,23.5 L16.5,20.6 C16.6,20.2 16.2,19.8 15.8,19.8 L15.8,19.8 Z M10,15.3 C6.6,15.3 3.9,12.6 3.9,9.2 C3.9,5.8 6.6,3.1 10,3.1 C13.4,3.1 16.1,5.8 16.1,9.2 C16.1,12.6 13.4,15.3 10,15.3 L10,15.3 Z"
					 transform="translate(25 20)" stroke="none" class="main-fill"></path>
				</g>
			</g>
			<style>
				.main-fill {
					fill: #ee7357;
				}

				.main-stroke {
					stroke: #ee7357;
				}

				.secondary-fill {
					fill: ;
				}

				.secondary-stroke {
					stroke: ;
				}

				.main-fill--darken {
					fill: #e23c17;
				}

				.main-stroke--darken {
					stroke: #e23c17;
				}

				.secondary-fill--darken {
					fill: #000000;
				}

				.secondary-stroke--darken {
					stroke: #000000;
				}

				.main-fill--darkener {
					fill: #b33012;
				}

				.main-stroke--darkener {
					stroke: #b33012;
				}

				.secondary-fill--darkener {
					fill: #000000;
				}

				.secondary-stroke--darkener {
					stroke: #000000;
				}
			</style>
		</symbol>
		<symbol id="male" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.79 25.72">
			<defs>
				<style>
					.cls-1 {
						fill: none;
						stroke: #5992ce;
						stroke-miterlimit: 10;
						stroke-width: 3px;
					}

					.cls-2 {
						fill: #5992ce;
					}
				</style>
			</defs>
			<circle class="cls-1" cx="93.43" cy="81.79" r="7.66" transform="translate(-114.74 24.78) rotate(-45)" />
			<rect class="cls-2" x="100.78" y="66.38" width="3.97" height="12.75" rx="0.69" ry="0.69" transform="translate(-2.72 -116.6) rotate(45)"
			/>
			<rect class="cls-2" x="21.74" width="4.06" height="9.06" rx="0.59" ry="0.59" />
			<rect class="cls-2" x="103.5" y="62.74" width="4.06" height="9.06" rx="0.59" ry="0.59" transform="translate(88.58 -103.47) rotate(90.02)"
			/>
		</symbol>
		<symbol id="logo" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
				<style type="text/css"></style>
			</defs>
			<path d="M960.146286 365.538743l-438.857143-146.826972a29.052343 29.052343 0 0 0-18.578286 0l-438.857143 146.826972a29.271771 29.271771 0 0 0 0.848457 55.764114l119.369143 35.957029v96.943543c0 7.285029 5.895314 14.321371 10.810515 19.719314 2.706286 2.9696 20.260571 18.139429 37.288228 25.088 3.627886 1.492114 7.358171 2.179657 11.044572 2.179657 11.541943 0 20.8896-6.890057 25.512228-18.2272 6.100114-14.9504-2.677029-32.021943-17.627428-38.122057-1.360457-0.555886 6.114743-1.8432-8.513829-3.423086v-66.340571l43.885714 13.458285v235.944229A43.710171 43.710171 0 0 0 263.314286 762.923886a43.885714 43.885714 0 0 0 87.771428 0c0-8.045714-2.325943-15.491657-6.100114-21.957486v-234.496l56.437029 17.3056 102.4 29.7984a28.862171 28.862171 0 0 0 16.618057-0.073143l234.144914-70.538971v65.316571c-14.628571 17.846857-95.568457 64.980114-252.884114 64.980114-35.357257 0-62.025143-1.696914-88.064-5.207771a29.344914 29.344914 0 0 0-32.899657 25.102629 29.257143 29.257143 0 0 0 25.088 32.899657c28.642743 3.861943 61.045029 5.7344 99.035428 5.7344 221.754514 0 300.368457-86.864457 303.733029-90.550857 4.9152-5.383314 4.490971-12.419657 4.490971-19.719315v-92.8768c0-1.097143-0.2048-2.135771-0.321828-3.203657L959.297829 421.302857a29.271771 29.271771 0 0 0 0.848457-55.764114zM511.853714 494.972343l-93.681371-27.253029-37.010286-11.351771 144.632686-50.731886c15.228343-5.412571 25.951086-22.162286 20.523886-37.376-5.4272-15.228343-22.981486-23.171657-38.180572-17.744457L309.087086 420.864a38.136686 38.136686 0 0 0-14.072686 9.084343l-68.739657-21.079772-56.539429-17.027657L512 277.313829l342.264686 114.512457-342.410972 103.146057z"
			 fill="#fd860e" p-id="2168"></path>
			<path d="M594.066286 445.908114a14.584686 14.584686 0 0 0 4.227657-0.629028L668.189257 424.228571a14.599314 14.599314 0 0 0 9.786514-18.212571 14.555429 14.555429 0 0 0-18.212571-9.786514l-69.895314 21.050514a14.628571 14.628571 0 0 0 4.1984 28.628114zM715.146971 410.682514a14.570057 14.570057 0 0 0 4.213029-0.629028l32.577829-9.815772a14.599314 14.599314 0 0 0 9.786514-18.212571 14.570057 14.570057 0 0 0-18.212572-9.786514l-32.577828 9.815771a14.599314 14.599314 0 0 0 4.213028 28.628114z"
			 fill="#fd860e" p-id="2169"></path>
		</symbol>
		<symbol id="back" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
					<style type="text/css"></style>
			</defs>
			<path d="M499.596 1023.935c275.436 0 498.701-229.083 498.701-511.744 0-89.448-22.504-173.459-61.762-246.537l-0.256 0.256c-5.69-18.989-22.25-33.119-42.645-33.119-25.063 0-45.267 20.843-45.267 46.545l0.384 4.348c0 19.501 11.763 35.996 28.324 42.965l-7.417 7.608c24.935 54.218 39.322 114.637 39.322 178.637 0 231.64-182.921 419.421-408.679 419.421-225.694 0-408.679-187.78-408.679-419.421s182.985-419.42 408.679-419.421c90.15 0 173.075 30.37 240.655 81.071 8.248 8.951 19.756 14.641 32.671 14.641 25.063 0 45.396-20.907 45.396-46.609l-0.384-4.284c0-20.843-13.617-37.85-32.032-43.732-81.263-58.949-179.916-94.178-286.945-94.178-275.309 0-498.637 229.084-498.637 511.744s223.265 511.808 498.573 511.808zM774.011 513.726c0-25.702-20.332-46.545-45.395-46.545l-183.88 0.511-0.511-187.844c0-25.702-18.925-46.61-43.923-46.609-25.063 0-45.331 20.843-45.33 46.609l-0.064 188.164-183.752 0.511c-25.063 0-45.33 19.309-45.331 45.075 0 25.638 20.268 46.545 45.331 46.545l183.752 0.064-0.064 189.187c0 25.702 20.268 46.545 45.267 46.545s45.331-20.843 45.331-46.545l-0.511-189.187 183.688 0.064c25.063 0 45.395-20.843 45.395-46.545z"
					p-id="4004" fill="#d9dcdc">
			</path>
	</symbol>
	</svg>

	<div id="app"></div>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
		<% } %>
</body>

</html>